<ion-view view-title="PPK">
	<ion-content>
	 <a class="item item-icon-left" href="#">
    <i class="icon ion-social-usd"></i>
    Propuestas Econ&oacute;mico
  </a>
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 1: Retomar el crecimiento econ&oacute;mico y lograr una tasa de 5% por año a partir de 2018, impulsando al mismo tiempo la formalizaci&oacute;n de millones de trabajadores. </p>
    </div>
	</div>
	
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 2: Lograr un agro pr&oacute;spero incrementando la rentabilidad y competitividad con un impacto positivo en la reducci&oacute;n de la pobreza. </p>
    </div>
	</div>
	
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 3: Contar con un sistema energ&eacute;tico que satisfaga la demanda nacional de manera confiable, eficiente y competitiva; y desarrolle los recursos energ&eacute;ticos en un marco de seguridad y respeto al medio ambiente.  </p>
    </div>
	</div>
	
	<div class="bar bar-footer">
		<div class="tabs tabs-icon-top">
		  <a class="tab-item" href="#/app/socialppk">
			<i class="icon ion-home"></i>
			Social
		  </a>
		  <a class="tab-item" href="#/app/institucionalppk">
			<i class="icon ion-flag"></i>
			Institucional
		  </a>
		  <a class="tab-item" href="#/app/economicoppk">
			<i class="icon ion-social-usd"></i>
			Econ&oacute;mico
		  </a>
		  <a class="tab-item" href="#/app/territorialppk">
			<i class="icon ion-android-globe"></i>
			Territorial
		  </a>
		</div>
		</div>
  </ion-content>
</ion-view>