<ion-view view-title="KEIKO FUJIMORI">
	<ion-content>
	 <a class="item item-icon-left" href="#">
    <i class="icon ion-social-usd"></i>
    Propuestas Econ&oacute;mico
  </a>
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 1: Relanzamiento de COFOPRI con el fin de completar la titulaci&oacute;n de predios urbanos en todo el pa&iacute;s. Un mill&oacute;n de t&iacute;tulos de propiedad al 2021.</p>
    </div>
	</div>
	
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 2: Lanzamiento de un boom de inversiones productivas y inversiones sociales. Como el ratio deuda/PBI est&aacute; en l&iacute;mites muy razonables, utilizar parte del Fondo de Estabilizaci&oacute;n Fiscal no expone al Per&uacute; a ning&uacute;n riesgo financiero.  </p>
    </div>
	</div>
	
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 2: Establecer una Unidad de Gesti&oacute;n de la Inversi&oacute;n P&uacute;blica, descrita en el Bloque sobre Reforma del Estado, que apoyar&aacute; a los sectores en la ejecuci&oacute;n de sus procesos de inversi&oacute;n p&uacute;blica.  </p>
    </div>
	</div>
	
	<div class="bar bar-footer">
		<div class="tabs tabs-icon-top">
		  <a class="tab-item" href="#/app/socialkeiko">
			<i class="icon ion-home"></i>
			Social
		  </a>
		  <a class="tab-item" href="#/app/institucionalkeiko">
			<i class="icon ion-flag"></i>
			Institucional
		  </a>
		  <a class="tab-item" href="#/app/economicokeiko">
			<i class="icon ion-social-usd"></i>
			Econ&oacute;mico
		  </a>
		  <a class="tab-item" href="#/app/territorialkeiko">
			<i class="icon ion-android-globe"></i>
			Territorial
		  </a>
		</div>
		</div>
  </ion-content>
</ion-view>