<ion-view view-title="ENCUESTAS">
	<ion-content>

	<div class="card">
  <div class="item item-text-wrap">
 	<div class="row header">
          <div class="col"></div>
          <div class="col">IPSOS</div>
          <div class="col">CPI</div>
          <div class="col">DATUM</div>
        </div>
        <div class="row">
          <div class="col">Keiko Fujimori</div>
          <div class="col">15%</div>
          <div class="col">30%</div>
          <div class="col">10%</div>
        </div>
		<div class="row">
          <div class="col">PPK</div>
          <div class="col">40%</div>
          <div class="col">10%</div>
          <div class="col">20%</div>
        </div>
		 </div>
</div>
  </ion-content>
</ion-view>