<ion-view view-title="KEIKO FUJIMORI">
  <ion-content>
	<div class="item item-avatar">
		<img src="img/keiko_fujimori.jpg">
		<h2>Keiko Fujimori Higuchi </h2>
		<p>Edad: 40</p>
		<p>Fuerza Popular</p>
	</div>
	
     <div class="list">

	<div class="item item-divider">
		Formación Académica
	</div>
	<a class="item">
		<p>Estudios Universitarios: Boston University</p>
		<p>Carrera: <br>Administración de Empresas</p>
		<p>Periodo: 1995 - 1997</p>
	</a>
	<a class="item">
		<p>Maestria: Columbia University</p>
		<p>Carrera: <br>Maestría en Administración de Empresas</p>
		<p>Periodo: 2004 - 2008</p>
	</a>
	<a class="item">
		<p>Diplomado: George Washington University</p>
		<p>Curso: <br>Parlamento, Democracia y Gobernabilidad</p>
		<p>Periodo: 2007 - 2007</p>
	</a>
	
	<div class="item item-divider">
		Experiencia Laboral
	</div>
	<a class="item">
		<p>Centro de Trabajo:<br>Fundación Peruana Cardioinfantil</p>
		<p>Cargo: Presidenta</p>
		<p>Periodo: 1996 - 2006</p>
	</a>
	<a class="item">
		<p>Centro de Trabajo:<br>Oportunidades Instituto para el Desarrollo</p>
		<p>Cargo: Presidenta</p>
		<p>Periodo: 2011 - HASTA LA ACTUALIDAD</p>
	</a>
	<a class="item">
		<p>Centro de Trabajo:<br>Congreso de la República</p>
		<p>Cargo: Congresista</p>
		<p>Periodo: 2006 - 2011</p>
	</a>
	<a class="item">
		<p>Centro de Trabajo:<br>Partido Político Fuerza Popular</p>
		<p>Cargo: Presidenta</p>
		<p>Periodo: 2013 - HASTA LA ACTUALIDAD</p>
	</a>
	<a class="item">
		<p>Centro de Trabajo:<br>Summit Products SAC</p>
		<p>Cargo: Accionista / Desarrollo de Productos</p>
		<p>Periodo: 2001 - 2008</p>
	</a>
</div>
	
  </ion-content>
</ion-view>
