<ion-view view-title="KEIKO FUJIMORI">
  <ion-content>
	<div class="item item-avatar">
		<img src="img/ppk_p.jpg">
		<h2>Pedro Pablo Kuczynski Godard </h2>
		<p>Edad: 77</p>
		<p>Peruanos Por El Kambio</p>
	</div>
	
     <div class="list">

	<div class="item item-divider">
		Formaci&oacute;n Acad&eacute;mica
	</div>
	<a class="item">
		<p>Estudios Universitarios: Oxford University</p>
		<p>Carrera: <br>Economia</p>
		<p>Periodo: 1956 - 1959</p>
	</a>
	<a class="item">
		<p>Maestria: Princeton University</p>
		<p>Carrera: <br>Economia y Politica</p>
		<p>Periodo: 1959 - 1961</p>
	</a>
	
	<div class="item item-divider">
		Experiencia Laboral
	</div>
	<a class="item">
		<p>Centro de Trabajo:<br>Presidencia del Consejo de Ministros</p>
		<p>Cargo: Presidente</p>
		<p>Periodo: 2005 - 2006</p>
	</a>
	<a class="item">
		<p>Centro de Trabajo:<br>TRG MANAGEMENT PERU SRL</p>
		<p>Cargo: Asesor Principal</p>
		<p>Periodo: 2007 - 2015</p>
	</a>
</div>
	
  </ion-content>
</ion-view>
