<ion-view view-title="PPK">
	<ion-content>
	 <a class="item item-icon-left" href="#">
    <i class="icon ion-flag"></i>
    Propuestas Institucional
  </a>
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 1: Por un Estado moderno y descentralizado, basado en una gesti&oacute;n eficiente, transparente y participativa, que brinde servicios de calidad al ciudadano.</p>
    </div>
	</div>
	
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 2: Prevenci&oacute;n eficaz del delito y un pa&iacute;s m&aacute;s seguro.  </p>
    </div>
	</div>
	
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 3: Cero tolerancias a la corrupci&oacute;n y fin de la impunidad .  </p>
    </div>
	</div>
	
	<div class="bar bar-footer">
		<div class="tabs tabs-icon-top">
		  <a class="tab-item" href="#/app/socialppk">
			<i class="icon ion-home"></i>
			Social
		  </a>
		  <a class="tab-item" href="#/app/institucionalppk">
			<i class="icon ion-flag"></i>
			Institucional
		  </a>
		  <a class="tab-item" href="#/app/economicoppk">
			<i class="icon ion-social-usd"></i>
			Econ&oacute;mico
		  </a>
		  <a class="tab-item" href="#/app/territorialppk">
			<i class="icon ion-android-globe"></i>
			Territorial
		  </a>
		</div>
		</div>
  </ion-content>
</ion-view>