<ion-view view-title="KEIKO FUJIMORI">
  <ion-content>
	<div class="item item-avatar">
		<img src="img/keiko_fujimori.jpg">
		<h2>Keiko Fujimori Higuchi </h2>
		<p>Edad: 40</p>
		<p>Fuerza Popular</p>
	</div>
	<div class="list">
		<div class="item item-divider">Primer Vicepresidente</div>
		<a class="item" href="#">Jose Chlimper Ackerman</a>
		<div class="item item-divider">Segundo Vicepresidente</div>
		<a class="item" href="#">Vladimiro Huaroc Portocarrero</a>
	</div>
	<br>
	
	<div class="list">
		<a class="item item-icon-right" href="#/app/hojavidakeiko">
		Hoja de Vida
		<i class="icon ion-chevron-right"></i>
		</a>
		<a class="item item-icon-right" href="#/app/plangobiernokeiko">
		Plan de Gobierno
		<i class="icon ion-chevron-right"></i>
		</a>
	</div>
  </ion-content>
</ion-view>
