<ion-view view-title="CANDIDATOS">
  <ion-content>
    <div class="row">
		 <div class="col col-50">
			<div class="col-demo"> 
				<a href="#/app/keiko">
				<img class="full-image" src="img/fuerza_popular.jpg">
				<p>
				FUERZA POPULAR
				</p>
				</a>
			</div>
        </div>
	</div>
	<div class="row">
		<div class="col col-50 col-offset-50">
			<div class="col-demo">
				<a href="#/app/ppk">
				<img class="full-image" src="img/ppk.jpg">
				<p>
				PERUANOS POR EL KAMBIO
				</p>
				</a>
			</div>
        </div>
	</div>
  </ion-content>
</ion-view>
