<ion-view view-title="PPK">
	<ion-content>
	
	<div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/ppk_p.jpg">
    <p>
      <a href="#" class="subdued">Descargar Plan de Gobierno</a>
    </p>
  </div>

</div>
	<div class="bar bar-footer">
		<div class="tabs tabs-icon-top">
		  <a class="tab-item" href="#/app/socialppk">
			<i class="icon ion-home"></i>
			Social
		  </a>
		  <a class="tab-item" href="#/app/institucionalppk">
			<i class="icon ion-flag"></i>
			Institucional
		  </a>
		  <a class="tab-item" href="#/app/economicoppk">
			<i class="icon ion-social-usd"></i>
			Econ&oacute;mico
		  </a>
		  <a class="tab-item" href="#/app/territorialppk">
			<i class="icon ion-android-globe"></i>
			Territorial
		  </a>
		</div>
		</div>
  </ion-content>
</ion-view>