<ion-view view-title="PPK">
  <ion-content>
	<div class="item item-avatar">
		<img src="img/ppk_p.jpg">
		<h2>Pedro Pablo Kuczynski Godard </h2>
		<p>Edad: 77</p>
		<p>Peruanos Por El Kambio</p>
	</div>
	<div class="list">
		<div class="item item-divider">Primer Vicepresidente</div>
		<a class="item" href="#">Martin Vizcarra Cornejo </a>
		<div class="item item-divider">Segundo Vicepresidente</div>
		<a class="item" href="#">Mercedes Araoz Fernandez </a>
	</div>
	<br>
	
	<div class="list">
		<a class="item item-icon-right" href="#/app/hojavidappk">
		Hoja de Vida
		<i class="icon ion-chevron-right"></i>
		</a>
		<a class="item item-icon-right" href="#/app/plangobiernoppk">
		Plan de Gobierno
		<i class="icon ion-chevron-right"></i>
		</a>
	</div>
  </ion-content>
</ion-view>
