<ion-view view-title="ELECCIONES 2016">
  <ion-content>
    <div class="row">
		 <div class="col">
			<div class="col-demo"> 
				<a href="#/app/listcandidato"><img class="full-image" src="img/candidato.png">
				<p>
				CANDIDATOS
				</p></a>
			</div>
        </div>
		<div class="col">
			<div class="col-demo">
				<img class="full-image" src="img/comparar.png">
				<p>
				COMPARAR
				</p>
			</div>
        </div>
	</div>
	<div class="row">
		<div class="col">
			<div class="col-demo">
				<img class="full-image" src="img/camara.png">
				<p>
				INFORMA
				</p>
			</div>
        </div>
		<div class="col">
			<div class="col-demo">
				<a href="#/app/encuestas"><img class="full-image" src="img/estadistica.png">
				<p>
				ENCUESTAS
				</p></a>
			</div>
        </div>
	</div>
  </ion-content>
</ion-view>
