<ion-view view-title="PPK">
	<ion-content>
	 <a class="item item-icon-left" href="#">
    <i class="icon ion-home"></i>
    Propuestas Sociales
  </a>
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 1: Educar personas &iacute;ntegras y emprendedoras, capaces de transformar su entorno y contribuir a la consolidaci&oacute;n de una sociedad sostenible, inclusiva y democr&aacute;tica. </p>
    </div>
	</div>
	
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 2: Hacer m&aacute;s eficiente y diversificado el acceso universal a la salud de personas, familias y comunidades, contribuyendo a la construcci&oacute;n de un pa&iacute;s felizmente saludable. </p>
    </div>
	</div>
	
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 3: Alcanzar en el 2021 coberturas universales de los servicios de agua potable y saneamiento en los &aacute;mbitos urbano y rural con el programa integral Agua Limpia. </p>
    </div>
	</div>
	
	<div class="bar bar-footer">
		<div class="tabs tabs-icon-top">
		  <a class="tab-item" href="#/app/socialppk">
			<i class="icon ion-home"></i>
			Social
		  </a>
		  <a class="tab-item" href="#/app/institucionalppk">
			<i class="icon ion-flag"></i>
			Institucional
		  </a>
		  <a class="tab-item" href="#/app/economicoppk">
			<i class="icon ion-social-usd"></i>
			Econ&oacute;mico
		  </a>
		  <a class="tab-item" href="#/app/territorialppk">
			<i class="icon ion-android-globe"></i>
			Territorial
		  </a>
		</div>
		</div>
  </ion-content>
</ion-view>