<ion-view view-title="KEIKO FUJIMORI">
	<ion-content>
	 <a class="item item-icon-left" href="#">
    <i class="icon ion-home"></i>
    Propuestas Sociales
  </a>
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 1: 30% de incremento de la matr&iacute;cula en educaci&oacute;n pre escolar. - 10% de incremento anual en los indicadores de aprendizaje.</p>
    </div>
	</div>
	
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 2: Reestructurar el modelo de gesti&oacute;n de la salud. Ajuste estructural de normas, informatizaci&oacute;n de la gesti&oacute;n de las citas para reducir los tiempos de espera y acceso inmediato al sistema con DNI. </p>
    </div>
	</div>
	
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 3: A partir del sistema de informaci&oacute;n Sayhuite precisar el perfil de las demandas sociales de los conglomerados de intervenci&oacute;n conformados por los 100 distritos de extrema pobreza.</p>
    </div>
	</div>
	
	<div class="bar bar-footer">
		<div class="tabs tabs-icon-top">
		  <a class="tab-item" href="#/app/socialkeiko">
			<i class="icon ion-home"></i>
			Social
		  </a>
		  <a class="tab-item" href="#/app/institucionalkeiko">
			<i class="icon ion-flag"></i>
			Institucional
		  </a>
		  <a class="tab-item" href="#/app/economicokeiko">
			<i class="icon ion-social-usd"></i>
			Econ&oacute;mico
		  </a>
		  <a class="tab-item" href="#/app/territorialkeiko">
			<i class="icon ion-android-globe"></i>
			Territorial
		  </a>
		</div>
		</div>
  </ion-content>
</ion-view>