<ion-view view-title="KEIKO FUJIMORI">
	<ion-content>
	 <a class="item item-icon-left" href="#">
    <i class="icon ion-android-globe"></i>
    Propuestas Territorial
  </a>
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 1: Creaci&oacute;n de un Sistema Integrado de Planeación de Pol&iacute;ticas P&uacute;blicas, que comprender&aacute; funciones de planeaci&oacute;n de la implementaci&oacute;n de pol&iacute;ticas y de inversi&oacute;n, as&iacute; como de coordinaci&oacute;n de dicha implementaci&oacute;n entre niveles de gobierno.</p>
    </div>
	</div>
	
	<div class="card">
    <div class="item item-text-wrap">
      <p>Propuesta 2: Promoveremos rutas tur&iacute;sticas, desarrollaremos productos y servicios vinculados al incremento de la participaci&oacute; del sector tur&iacute;stico a partir de un adecuado desarrollo en la infraestructura y conectividad a nivel nacional. El n&uacute;mero de turistas en nuevas rutas se incrementan. </p>
    </div>
	</div>
	
	<div class="bar bar-footer">
		<div class="tabs tabs-icon-top">
		  <a class="tab-item" href="#/app/socialkeiko">
			<i class="icon ion-home"></i>
			Social
		  </a>
		  <a class="tab-item" href="#/app/institucionalkeiko">
			<i class="icon ion-flag"></i>
			Institucional
		  </a>
		  <a class="tab-item" href="#/app/economicokeiko">
			<i class="icon ion-social-usd"></i>
			Econ&oacute;mico
		  </a>
		  <a class="tab-item" href="#/app/territorialkeiko">
			<i class="icon ion-android-globe"></i>
			Territorial
		  </a>
		</div>
		</div>
  </ion-content>
</ion-view>